<section>
<div class="animated" id="animated">
    <div class="image clear">
        <img src="/moPHP.png"/>
    </div>
    <div class="route wave">
        {{ route }}
    </div>
</div>
<div class="arrow"></div>
<div class="box">
    <div class="wrapper">
        <div class="container">
            <div class="grid-item">
                <img src="/img/model.png"/>
                Model
            </div>
            <div class="grid-item">
                <img src="/img/view.png"/>
                View
            </div>
            <div class="grid-item">
                <img src="/img/controller.png"/>
                Controller
            </div>
            <div class="grid-item">
                <img src="/img/component.png"/>
                Component
            </div>
        </div>
    </div>
</div>
</section>